.w-100 {
    font-family: "courier new", monospace;
    font-size: 16px;
}

.border-right {
    border-right: 1px solid black;
}

.links:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .border-right {
        width: 100%;
        border-right: 0px;
        border-bottom: 1px solid black;
    }
}