.card, .modal {
    font-family: "courier new", monospace;
}

.card:hover {
    cursor: pointer;
}

.text-left {
    text-align: left;
}

.bi-person-circle {
    font-size: 32px;
}

.font-12 {
    font-size: 12px;
}

.w-90 {
    width: 90%;
}

.border-left {
    border-left: 3px solid black;
}