.card,
.modal {
    font-family: "courier new", monospace;
}

.card {
    width: 27rem;
}

.card:hover {
    cursor: pointer;
}

.text-left {
    text-align: left;
}

.bi-person-circle {
    font-size: 32px;
}

.font-12 {
    font-size: 12px;
}

.w-90 {
    width: 90%;
}

.border-left {
    border-left: 3px solid black;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
        margin-top: 10px;
    }
}