<div class="w-sm-100 text-center">
    <!-- <h1 class="my-5">Shop Collections</h1>
    <div class="d-flex flex-wrap justify-content-between">
        <div *ngFor="let product of products; index as i">
            <app-product [product]="product"></app-product>
        </div>
    </div> -->
    <!-- <app-item-detail></app-item-detail> -->
    <!-- <app-about></app-about> -->
    <app-blog></app-blog>
</div>
<!-- <div class="w-100 text-center">
    <h1 class="my-5">What's New</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active w-100">
                <img src="../../../assets/images/new1.webp" class="w-auto" alt="#">
            </div>
            <div class="carousel-item w-100">
                <img src="../../../assets/images/new2.webp" class="w-auto" alt="#">
            </div>
            <div class="carousel-item w-100">
                <img src="../../../assets/images/new1.webp" class="w-auto" alt="#">
            </div>
        </div>
        <button class="carousel-control-prev bg-dark" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next bg-dark" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> -->
<app-contact-us></app-contact-us>