.w-100 {
    font-family: "courier new", monospace;
    font-size: 16px;
}

.input-group {
    width: 120px;
}

.btn {
    width: 300px;
}

.w-30 {
    width: 40%;
    text-align: left;
}

.para {
    text-align: left;
}

.toggle:hover {
    cursor: pointer;
}