<ul class="list-group list-group-flush">
    <li class="list-group-item py-3 my-3 fw-bolder">Browse by</li>
    <li class="list-group-item">Limited Edition</li>
    <li class="list-group-item">Note Cards</li>
    <li class="list-group-item">Notebooks</li>
    <li class="list-group-item">Prints</li>
    <li class="list-group-item">Wrapping Paper</li>
    <li class="list-group-item py-3 my-3 fw-bolder">Filter by</li>
    <li class="list-group-item border-bottom">
        <label for="customRange2" class="form-label">Price</label>
        <input type="range" class="form-range" min="0" max="5" id="customRange2">
        <div class="d-flex justify-content-between">
            <label for="customRange2" class="form-label">$8.50</label>
            <label for="customRange2" class="form-label">$10.00</label>
        </div>
    </li>
</ul>